// mixin
@mixin base-card() {
    background-color:$background-color;
    color:$base-color;
    padding: 2rem;
    margin:0 1rem;

    @media(max-width: 450px){
        width:100%;
        padding: 2rem;
        margin:1rem;
}
}
@mixin title {
    width: 100%;
    font-size: 25px;
    color:$base-color;
}
